/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}


.icon-printer {
    background: url("resources/images/fam/printer.png") no-repeat !important;
}

.label-style {
    font-size: 20px;
}

.header-label {
    color: #00008B;
    font-size: 50px;
    font-style: oblique;
    height: 18px;
    text-align: center;
}

.big-text label{
    font-family: times, Times New Roman, times-roman, georgia, serif;
    color: #444;
    margin: 0;
    padding: 0px 0px 6px 0px;
    font-size: 51px;
    line-height: 44px;
    letter-spacing: -2px;
    font-weight: bold;
}

.label-header {
    text-align: center;
}

.margin-all-20 {
    margin: 10px 10px 10px 10px;
    height: 1500px;
    background-color: activeborder;
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:5px;
    -khtml-border-radius:10px;
}

body {
    background-color: #77c2ff;
}

.content-style {
    text-align: center;
    height: 100%;
}

.site-header-style {
    align-self: center;
    background-color: #3CC59C;
    border: 1px dashed #000066;
    color: #635695;
    font-size: 30px;
    text-align: center;
}

.header-style {
    align-self: center;
    background-color: #3CC59C;
    border: 1px dashed #000066;
    color: #635695;
    font-size: 30px;
    width: 33%;
    text-align: center;
}

.header-panel {
    text-align: center;
}

.text-color-black textarea{
    color:black !important;
}

div.text-color-red textarea{
    color:red !important;
}

.bold-borders {
    border-width: 3px !important;
}

.bold-red-borders {
    border-color: #FF0000 !important;
    border-width: 3px; !important;
}

.simplePanelClass {
    background-color: #15428B;
}

.add-session-button {
    border-radius: 8%;
    font-size: 33px !important;
    height: 76px;
    margin: 20px 20px 20px 555px !important;
    width: 333px;
}

.start-button {
    border-radius: 20%;
    font-size: 16px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    height: 18px;
    background: url("images/fam/control_play_blue.png") no-repeat 0 0 !important;
}

.stop-button {
    border-radius: 20%;
    margin-right: 10px !important;
    margin-left: 10px !important;
    height: 18px;
    background: url("images/fam/control_stop_blue.png") no-repeat 0 0 !important;
}

.remove-button {
    border-radius: 20%;
    height: 18px;
    background: url("images/fam/accept.png") no-repeat 0 0 !important;
}

.main-panel-style {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: #800000;
}

.left-time-label {
    color:#ffffff;
    font-size: 15px;
    text-align: center;
    width: 100px;
}

.name-label {
    background-color: #FFDEAD;
    border: 1px solid;
    border-radius: 17%;
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px;
}

.custom-input {
    background-color: #F5DEB3;
    /*margin: 9px 5px 5px;*/
}

.comment-text-area {
    background-color: #F5DEB3;
    height: 30px;
}

.remind-input {
    color: #17385b;
    text-align: center;
    width: 52px !important;
}

.custom-checkbox {
    /*margin: 16px 5px 5px;*/
    /*vertical-align: middle;*/
}

.total-time-style {
    background-color: #FFA500;
    border: 1px solid;
    border-radius: 10%;
    font-size: 15px;
    padding: 5px;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

body {
    background: whitesmoke;
}

.session-panel {
    background-color: whitesmoke;
    border-radius: 10%;
    border:solid 2px;
    padding: 5px;
    margin: 5px;
}

.total-sum {
    background-color: #FFA500;
    border: 1px solid;
    border-radius: 10%;
    font-size: 15px;
    padding: 5px;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.per-minute-style {
    background-color: green;
}

.logout-button-style {
    margin: 10px !important;
    color: blue !important;

}

.vertical-login-panel td{
    width: 100%;
    text-align: center;
}



.login-message {
    text-align: center;
    color: #ffffff;
}

.login-input {
    text-align: center;
    color: #000000;
}

.top-panel {
    text-align: center;
}

.first-admin-style {
    background-color: #3CC59C;
}

.second-admin-style {
    background-color: #3366cc;
}

.super-admin-style {
    background-color: green;
}

.total-sum-style {
    color: #F5FFFA;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}